.header {
  width: 100%;
  margin: 0;
  background-image: url("https://img.freepik.com/free-vector/smart-ecological-farming-cartoon-illustration_33099-2028.jpg?w=1380&t=st=1687274208~exp=1687274808~hmac=c050ffd62ef9bb4f11ddf856b1fd983a7ec3df1301902df1c926a26a595f0d52");
  border-radius: 1rem;
  height: 600px;
  background-size: cover;
  &__container {
    padding: 2rem;
    gap: 5rem;
  }
  &__top {
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    justify-content: right;
  }
}
.logo {
  width: 40px;
  height: 40px;
}
